.list_section {
    display: flex;
   width: auto;
}

.list{
    color: #0049ff;
    text-align: left;
    font-family: Mukta, sans-serif;
    margin: 5px auto;
    font-size: 1rem;
}

ul li::marker { 
    text-align: left;
    content: none; /* Убирает маркеры у элементов списка */ 
   
}

@media (max-width: 400px) {
    .list{
        font-size: 0.8rem;
    }
}
