.content_foto {
    margin: 10px auto;
}

.content_foto_img { 
    max-width: 800px;
    width: auto;
   
}

@media (max-width: 800px) {
    .content_foto_img { 
        width: 90%; 
        }
}

@media (max-width: 600px) {
    .content_foto_img { 
        width: 80%; 
    }
}

@media (max-width: 600px) {
    .content_foto_img { 
        width: 70%; 
     }
}